.App{
    
}
.Time{
    padding-top: 30px;
}
.timePanel{
    background: rgb(157,72,209);
    background: linear-gradient(59deg, rgba(157,72,209,1) 0%, rgba(35,86,152,1) 34%, rgba(3,177,214,1) 71%, rgba(0,255,128,1) 100%);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 200px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    /* background: cadetblue; */
    border-radius: 13px;
}
.timePanel > div > div{
    padding: 15px;
    font-weight: bolder;
    font-size: xx-large;
    border: 2px solid white;
    /* background: #e0e0e0; */
    /* background: cadetblue; */
    color: white;
    display: inline;
    font-family: serif;
}
.timePanel > div > div:first-child{
    border-radius: 8px 0px 0px 8px;
}
.timePanel > div > div:last-child{
    border-radius: 0px 8px 8px 0px;
}
.timePanel > div > div > span{
    width: auto;
    display: none;
    font-size: medium;
    font-family: cursive;
}
.timePanel > div > div:hover > span{
    display: inline;
}

.fs-H{
    font-size: xx-large;
}
.fs-H2{
    font-size: 65px;
}
.fs-C{
    font-size: x-large;
}
.centerAlign{
    text-align: center;
}
.changeDate{
    padding: 5px;
    padding-top: 54px;
}
.buttonCss{
    /* display: none; */
    margin: 10px;
    margin-left: 5px;
    width: 100px;
    background: white;
    border: 1px solid cadetblue;
    color: black;
    border-radius: 7px;
    border: 0px;
    padding: 5px;
    text-align: center;
}
.changeDate > div{
    display: inline;
}
.inputCss{
    border-radius: 4px;
    padding: 4px;
    display: inline;
    margin: 10px;

}